---
import Layout from "../layouts/Layout.astro";
import { GroupList } from "@components/GroupList";
---

<Layout title="Must Do">
  <main class="h-[100vh] bg-[#060047] sm:px-72 lg:px-96 py-10">
    <GroupList />
  </main>
</Layout>
